@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --breakpoint-xs: 525px;
  --breakpoint-3xl: 1920px;
  --breakpoint-4xl: 2160px;
  --color-primary-950: #090E1F;
  --color-primary-900: #131A2F;
  --color-primary-800: #121D3B;
  --color-primary-750: #2A3144;
  --color-primary-700: #212E50;
  --color-primary-600: #1A387B;
  --color-primary-500: #2A5AC7;
  --color-primary-400: #3573FF;
  --color-secondary-600: #A6DCD0;
  --color-background-800: #346651;
  --color-background-600: #5CB38F;
  --color-background-400: #A9D991;
  --color-background-200: #E1EDA9;
  --color-select-600: #2BA84A;
  --color-select-800: #248232;
  --color-lightbearer-800: #284774;
  --color-lightbearer-400: #65A0D4;
  --color-wilder-800: #2F6263;
  --color-wilder-400: #95DDA8;
  --color-mauler-800: #BC5F37;
  --color-mauler-400: #EAC34A;
  --color-graveborn-800: #303A3B;
  --color-graveborn-600: #617167;
  --color-graveborn-400: #BDEE86;
  --color-graveborn-200: #C7F57E;
  --color-celestial-800: #EB9B0E;
  --color-celestial-400: #FAD211;
  --color-celestial-300: #F8DF75;
  --color-celestial-200: #647184;
  --color-celestial-50: #FFFFFF;
  --color-hypogean-800: #332153;
  --color-hypogean-400: #F15DFA;
  --color-hex-background-600: #A0A0A0;
  --color-hex-enemy-400: #FF6467;
  --color-tertiary-600: #E9B560;
  --color-tertiary-500: #D7A858;
  --color-tertiary-400: #FDD38C;
  --color-tertiary-300: #FFE38D;
  --color-tertiary-100: #FFE0AA;
  --color-tertiary-50: #FFE3B3;
  --color-paragon-1-200: #AE3FCD;
  --color-paragon-1-600: #773FB2;
  --color-neutral-900: #171717;
  --color-neutral-800: #262626;
  --color-neutral-600: #525252;
  --color-neutral-400: #A1A1A1;
  --color-neutral-300: #D4D4D4;
  --color-error-900: #82181A;  
}

@layer base {
  html {
    @apply text-white font-semibold font-sans snap-y lg:text-lg min-h-max;
  }
  h1 {
    @apply font-bold text-2xl lg:text-3xl;
  }
  h2, h3 {
    @apply font-bold text-xl lg:text-2xl;
  }
  h4, h5, h6, p {
    @apply text-lg lg:text-xl;
  }
  input::placeholder {
    @apply px-1;
  }
  body {
    @apply min-h-[100vh]; 
  }
  main {
    @apply bg-gradient-to-b from-primary-900 via-primary-950 to-black;
  }
  .header {
    @apply w-full bg-gradient-to-b from-black to-primary-800 shadow-black relative flex flex-col place-items-center justify-center text-center shadow-sm shadow-black lg:py-3;
    box-shadow: 0px 4px -4px 0px rgba(0, 0, 0, 0.50);
  }
  .footer {
    @apply mt-4 w-full bg-gradient-to-b from-primary-800 to-black shadow-black flex flex-col place-items-center content-center justify-center gap-2 p-4 text-center;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.50);
  }
  section {
    @apply flex w-full scroll-mt-[56px] lg:scroll-mt-[81px] content-center justify-center gap-4 place-self-center mx-auto;
  }
}

@layer components {
  .talents {
    .bg-lightbearer {
      @apply bg-gradient-to-br from-(--lightbearer-400) via-(--lightbearer-800) to-neutral-800;
    }
    .bg-wilder {
      @apply bg-gradient-to-br from-(--wilder-400) via-(--wilder-800) to-emerald-900;
    }
    .bg-mauler {
      @apply bg-gradient-to-br from-(--mauler-400) via-(--mauler-800) to-amber-950;
    }
    .bg-graveborn {
      @apply bg-gradient-to-br from-(--graveborn-200) via-(--graveborn-600) to-neutral-950;
    }
    .bg-celestial-hypogean{
      @apply bg-gradient-to-br from-(--celestial-300) via-(--hypogean-800) to-neutral-950;
    }
  }
  .logo {
    @apply h-12;
    aspect-ratio: 1735 / 577;
  }
  .hex-icon {
    aspect-ratio: 18 / 20;
  }
  .hex-overlay::after {
    @apply absolute hover:bg-white opacity-40 inset-0 pointer-events-none disabled:bg-none;
    content: "";
    mask-image: url('/assets/images/hexes/base/Generic-Hex.png'); 
    -webkit-mask-image: url('/assets/images/hexes/base/Generic-Hex.png'); 
    mask-size: cover;
  }
  .disabled-overlay::after {
    @apply absolute bg-primary-950 opacity-70 inset-0 pointer-events-none;
    content: "";
    mask-image: url('/assets/images/hexes/base/Generic-Hex.png'); 
    -webkit-mask-image: url('/assets/images/hexes/base/Generic-Hex.png'); 
    mask-size: cover;
  }  
  .enemy-overlay::after {
    @apply absolute bg-red-600 opacity-30 inset-0 pointer-events-none;
    content: "";
    mask-image: url('/assets/images/hexes/base/Generic-Hex.png'); 
    -webkit-mask-image: url('/assets/images/hexes/base/Generic-Hex.png'); 
    mask-size: cover;
  }
  .custom-html-style {
    @apply !text-white w-full !text-lg;
    ol, ul {
      @apply !pl-8;
    }
    ol {
      @apply !text-lg !m-0 !list-decimal;
    }
    ul {
      @apply !text-lg !m-0 !list-disc;
    }
    hr {
      @apply !my-3;
    }
    h1 {
      @apply !text-6xl !m-0;
    }
    h2 {
      @apply !text-5xl !m-0;
    }
    h3 {
      @apply !text-4xl !m-0;
    }
    h4 {
      @apply !text-3xl !m-0;
    }
    h5 {
      @apply !text-2xl !m-0;
    }
    h6 {
      @apply !text-xl !m-0;
    }
    p {
      @apply !text-lg !m-0;
    }
  }
  .rc-md-editor {
    @apply !border-none !bg-transparent;
  }
  .rc-md-editor.markdown-styles {
    @apply block !border-none !pb-0;
    .rc-md-navigation .button-wrap {
      @apply !gap-2;
      .button {
        @apply flex items-center rounded-lg !text-white hover:!text-tertiary-300 m-0 !bg-neutral-600/20 hover:bg-neutral-300/20 active:bg-neutral-300/20 disabled:bg-neutral-600/10;
        i {
          @apply px-2 mr-[2px];
        }
      }
    }
    .drop-wrap {
      @apply !border-0 rounded-lg !bg-primary-950 !text-white !px-2;
      li {
        @apply !my-1 !rounded-lg hover:!text-tertiary-300 !bg-neutral-600/20 hover:!bg-neutral-300/20 active:!bg-neutral-300/20 disabled:!bg-neutral-600/10;
      }
    }
    .rc-md-navigation {
      @apply !py-2 flex !gap-2 flex-row flex-wrap justify-between !border-none !bg-transparent;
      h1 {
      @apply text-6xl;
      }
      h2 {
        @apply text-5xl;
      }
      h3 {
        @apply text-4xl;
      }
      h4 {
        @apply text-3xl;
      }
      h5 {
        @apply text-2xl;
      }
      h6 {
        @apply text-xl;
      }
      p {
        @apply text-lg;
      }
    }
    .editor-container {
      @apply size-full;
      .sec-md {
        .input {
          @apply !text-white size-full !text-lg !bg-primary-750 !overflow-y-auto;
          box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.50) inset;
        }
      }
      .sec-html .html-wrap {
        @apply w-full border-l-2 border-black !bg-primary-750;
        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.50) inset;
      }
      .section {
        @apply h-full !border-none !text-white;
        border-right: 1px solid var(--color-primary-800) !important;
      }
    }
  }
  .accordion-panel {
    @apply flex w-full flex-col;
  }
}

@layer utilities {
  .fab {
    @apply text-xl md:text-2xl;
  }
  .scroll-bar-left {
    @apply lg:pr-[17px];
    direction: rtl;
    scrollbar-gutter: stable;
  }
  .scroll-bar-left > * {
    direction: ltr;
  }
  .scroll-bar-thin {
    scrollbar-width: thin;
  }
  .scroll-bar-auto {
    scrollbar-color: #212E50 #090E1F;
  }
  .sticky-header {
    @apply sticky w-full top-0 z-100;
  }
  .sticky-below-header {
    @apply sticky top-[80px] z-10;
  }
  .size-sm {
    @apply shadow-sm p-1 rounded-lg;
  }
  .size-base {
    @apply shadow-sm p-2 rounded-lg;
  }
  .input-primary, .input-secondary, .input-tertiary, .input-warning {
    @apply cursor-pointer hover:text-tertiary-300 disabled:text-neutral-400 disabled:cursor-auto;
    transition: ease-in-out .2s;
    --webkit-transition: ease-in-out .2s;
    transition-propery: all;
  }
  .input-primary {
    @apply hover:bg-primary-600 active:bg-primary-600 disabled:bg-primary-950;
  }
  .input-secondary {
    @apply hover:bg-neutral-300/20 active:bg-neutral-300/20 disabled:bg-neutral-600/10;
  }
  .input-tertiary {
    @apply hover:bg-neutral-300/20 shadow-none;
  }
  .input-warning {
    @apply hover:bg-red-600 active:bg-red-600 disabled:bg-red-950;
  }
  .input-link {
    @apply text-tertiary-600 hover:text-tertiary-300 underline;
  }
  .bg-primary {
    @apply bg-primary-800;
  }
  .bg-secondary {
    @apply bg-neutral-600/20;
  }
  .bg-warning {
    @apply bg-red-800;
  }
  .active-link {
    @apply pointer-events-none text-tertiary-300 disabled:text-tertiary-300;
  }
  .active-border {
    @apply border-2 border-solid border-tertiary-300;
  }
  .checkbox {
    @apply size-4 self-center;
  }
  .inset, .inset-primary, .inset-secondary {
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.50) inset;
  }
  .slider {
    @apply min-w-10 h-6 rounded-full flex flex-row p-1 items-center justify-center;
  }
  .slider-ball {
    @apply size-4 rounded-full;
  }
  .ease-in-out {
    transition: ease-in-out .2s;
    --webkit-transition: ease-in-out .2s;
    transition-propery: all;
  }
  .container-primary {
    @apply bg-primary-950/80 p-2 rounded-lg shadow-sm shadow-black;
  }
  .inset-primary, .inset-secondary, .inset-black {
    @apply p-2 rounded-lg;
  }
  .inset-primary {
    @apply bg-primary-950;
  }
  .inset-secondary {
    @apply bg-primary-750;
  }
  .inset-black {
    @apply bg-black/30;
  }
}
