@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-bar-auto text-white font-semibold font-sans snap-y text-shadow-black-outline;
    .custom-html-style {
      @apply text-white w-full;
      ol, ul {
        @apply pl-8;
      }
      ol {
        @apply text-lg m-0 list-decimal;
      }
      ul {
        @apply text-lg m-0 list-disc;
      }
      hr {
        @apply my-3;
      }
      h1 {
        @apply text-6xl m-0;
      }
      h2 {
        @apply text-5xl m-0;
      }
      h3 {
        @apply text-4xl m-0;
      }
      h4 {
        @apply text-3xl m-0;
      }
      h5 {
        @apply text-2xl m-0;
      }
      h6 {
        @apply text-xl m-0;
      }
      p {
        @apply text-lg m-0;
      }
    }
    .rc-md-editor.markdown-styles {
      @apply !bg-neutral-800 !border-none block;
      .rc-md-navigation .button-wrap {
        @apply !gap-2;
        .button {
          @apply flex items-center rounded-md bg-neutral-700 text-white hover:text-yellow-200 m-0;
          i {
            @apply px-2 mr-[2px];
          }
        }
      }
      .drop-wrap {
        @apply !bg-neutral-800 shadow-inner shadow-black border-2 border-black rounded-md;
      }
      .rc-md-navigation {
        @apply py-2 !bg-neutral-900 flex gap-2 flex-row flex-wrap justify-between border-none shadow-md shadow-black;
        h1 {
        @apply text-6xl;
        }
        h2 {
          @apply text-5xl;
        }
        h3 {
          @apply text-4xl;
        }
        h4 {
          @apply text-3xl;
        }
        h5 {
          @apply text-2xl;
        }
        h6 {
          @apply text-xl;
        }
        p {
          @apply text-lg;
        }
      }
      .editor-container {
        @apply size-full;
        .sec-md {
          .input {
            @apply text-white bg-neutral-700 size-full shadow-inner shadow-black text-lg text-shadow-black-outline;
          }
        }
        .sec-html .html-wrap {
          @apply w-full shadow-inner shadow-black border-l-2 border-black !bg-neutral-700;
        }
        .section {
          @apply h-full border-none;
        }
      }
    }
  }
  button {
    @apply text-shadow-black-outline;
  }
  input::placeholder {
    @apply px-1;
  }
  body {
   @apply h-[100vh] bg-neutral-600; 
    #__next {
      @apply flex min-w-full max-w-full min-h-full;
    }
  }
}

@layer components {
  section {
    @apply flex w-full max-w-[90%] scroll-mt-[84px] lg:scroll-mt-[128px] xl:scroll-mt-[-132px] content-center justify-center gap-4 place-self-center mx-auto;
  }
  .accordion-panel {
    @apply max-h-0 flex w-full flex-col bg-neutral-700 rounded-b-lg shadow-inner shadow-black;
  }
  .accordion-panel, .dropdown-panel {
    transition: max-height 0.1s ease-in-out, padding-y 0.1s ease-in-out, overflow 0.1s ease-in-out;
  }
  .text-hidden {
    opacity: 0;
    transition: opacity 0.1s ease-in-out 0.1s;
  }
  
  .text-visible {
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
  }
  .announcements, .privacy-policy {
    ul {
      @apply list-disc pl-5;
    }
  }
  .inset-section {
    @apply border-2 border-black shadow-inner shadow-black p-2 rounded-lg;
  }
  .privacy-policy {
    @apply rounded-xl bg-neutral-900 border-2 border-black shadow-lg shadow-black p-2;
    h1, h2 {
      @apply text-yellow-200;
    }
    h1 {
      @apply text-3xl xl:text-4xl;
    }
    h2 {
      @apply text-lg xl:text-xl;
    }
    hr {
      @apply border-t-1 border-white w-full my-1;
    }
  }
}

@layer utilities {
  .scroll-bar-left {
    direction: rtl;
    scrollbar-gutter: stable;
  }
  .scroll-bar-left > * {
    direction: ltr;
  }
  .scroll-bar-thin {
    scrollbar-width: thin;
  }
  .scroll-bar-auto {
    scrollbar-color: #a3a3a3 #171717;
  }
  .sticky-header {
    @apply sticky w-full top-0 z-100;
  }
  .sticky-below-header {
    @apply sticky top-[80px] z-10;
  }
  .sticky-table-header {
    @apply sticky top-0 z-40;
  }
  .social {
    .fa-discord {
      @apply text-[#7289da];
    }
    .fa-twitter { 
      @apply text-sky-500 hover:text-sky-300 focus:text-sky-300 active:text-sky-300;
    }
    .fa-instagram { 
      @apply text-fuchsia-600 hover:text-fuchsia-400 focus:text-fuchsia-400 active:text-fuchsia-400;
    }
    .fa-github {
      @apply text-purple-600 hover:text-purple-400 focus:text-purple-400  active:text-purple-400 ;
    }
  }
  .talents {
    .bg-lightbearer {
      @apply bg-gradient-to-br from-lightbearer-400 via-lightbearer-800 to-neutral-800;
    }
    .bg-wilder {
      @apply bg-gradient-to-br from-wilder-400 via-wilder-800 to-emerald-900;
    }
    .bg-mauler {
      @apply bg-gradient-to-br from-mauler-400 via-mauler-800 to-amber-950;
    }
    .bg-graveborn {
      @apply bg-gradient-to-br from-graveborn-200 via-graveborn-600 to-neutral-950;
    }
    .bg-celestial-hypogean{
      @apply bg-gradient-to-br from-celestial-300 via-hypogean-800 to-neutral-950;
    }
  }
  .hex-icon {
    aspect-ratio: 18 / 20;
  }
  .hex-overlay::after {
    @apply absolute hover:bg-white opacity-40 inset-0 pointer-events-none disabled:bg-none;
    content: "";
    mask-image: url('/assets/images/hexes/base/Generic-Hex.png'); 
    -webkit-mask-image: url('/assets/images/hexes/base/Generic-Hex.png'); 
    mask-size: cover;
  }
  .disabled-overlay::after {
    @apply absolute bg-neutral-800 opacity-90 inset-0 pointer-events-none;
    content: "";
    mask-image: url('/assets/images/hexes/base/Generic-Hex.png'); 
    -webkit-mask-image: url('/assets/images/hexes/base/Generic-Hex.png'); 
    mask-size: cover;
  }  
  .enemy-overlay::after {
    @apply absolute bg-red-600 opacity-30 inset-0 pointer-events-none;
    content: "";
    mask-image: url('/assets/images/hexes/base/Generic-Hex.png'); 
    -webkit-mask-image: url('/assets/images/hexes/base/Generic-Hex.png'); 
    mask-size: cover;
  }  
}